.card {
  display: inline-block;
}
.movie-card {
  width: 216px;
  overflow: hidden;
  position: relative;
  &:hover {
    .movie-card__button {
      top: 0;
    }
    img {
      transform: scale(1.1);
    }
  }
  &__button {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -70px;
    width: 100%;
    z-index: 1;
    transition: top .4s ease;
    &.visible {
      top: 0;
    }
    & > div {
      display: flex;
    }
    input {
      display: none;
      &:checked ~ .round-button {
        background-image: url('../../icons/close.svg');
      }
    }
    &--description {
      background-image: url('../../icons/description_icon.svg');
    }
  }
  &__content {
    position: relative;
    height: 305px;
    border-radius: 20px;
    overflow: hidden;
    img {
      @include imgFit;
      transform: scale(1);
      transition: all .4s ease;
    }
    &--description {
      position: absolute;
      top: 100%;
      height: 305px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 34px 15px;
      background: $green;
      font-size: 14px;
      line-height: 21px;
      color: white;
      transition: top .5s ease;
      &.visible {
        top: 0;
      }
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
      }
      .synopsis {
        text-transform: uppercase;
        font-weight: 500;
        color: $light-grey;
        margin-bottom: 10px;
      }
    }
  }
  &__text {
    margin-top: 20px;
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      @include overflowEllipsis;
    }
    &--title {
      margin-bottom: 6px;
    }
    &--date {
      color: $dark-grey;
    }
  }
}
