// fieldset {
//   margin: 10px 0;
// }

input,
select,
textarea {
  padding: 15px 20px;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 17px;
  line-height: 140%;
  color: $light-black;
  border: 1px solid $light-grey;
  &::placeholder {
    color: $dark-grey;
  }
  &:focus {
    border: 1px solid $light-black;
  }
}
.search-input {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    background: no-repeat center url("../../icons/search_icon.svg");
  }
}
.custom-check {
  border-radius: 5px;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  background-color: white;
  &:checked {
    border-color: $green;
    background-color: $green;
    background-image: url('../../icons/check.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.checkbox-card-ctnr {
  width: 132px;
  position: relative;
  margin-bottom: 50px;
  @include media-max($tablet-s) {
    margin-bottom: 30px;
  }
  &:hover {
    .checkbox-card__img-ctnr {
      border: 2px solid $green;
    }
    .checkbox-card__overlay {
      opacity: 0.25;
    }
  }
  input {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    &:checked ~ .checkbox-card {
      .checkbox-card__img-ctnr {
        border: 2px solid $green;
      }

      .checkbox-card__overlay {
        opacity: 0.25;
      }
    }
  }
}
.checkbox-card {
  overflow: hidden;
  display: inline-block;

  &__img-ctnr {
    position: relative;
    width: 132px;
    height: 187px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: all .4s ease;
    img {
      @include imgFit;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 132px;
    height: 187px;
    border-radius: 10px;
    background: $green;
    opacity: 0;
    z-index: 1;
    transition: opacity .4s ease;
  }
  &__text {
    overflow: hidden;
    font-weight: 500;
    line-height: 120%;
    margin-top: 20px;
    &--title {
      font-size: 16px;
      color: $light-black;
    }
    &--character {
      font-size: 14px;
      color: $dark-grey;
    }
  }
}
