.main-form h1 {
  margin-bottom: 60px;
}
.form {
  h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $dark-grey;
    margin-bottom: 30px;
  }
  .input-label {
    font-size: 17px;
    line-height: 140%;
    margin-bottom: 12px;
    display: block;
  }

  button {
    padding: 17px 20px;
    // width: 174px;
    // height: 54px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    height: 54px;
    &.next-button {
      width: 174px;
      background: $green;
      box-shadow: inset -5.22516e-16px -10px 10px rgba(51, 51, 51, 0.1),
        inset 5.22516e-16px 10px 10px rgba(255, 255, 255, 0.1);

      //background: #cccccc;
    }
    &.previous-button {
      background: $light-black;
      box-shadow: inset -5.22516e-16px -10px 10px rgba(51, 51, 51, 0.1),
        inset 5.22516e-16px 10px 10px rgba(255, 255, 255, 0.1);
    }
    &.submit-button {
      background: $green;
      box-shadow: inset -5.22516e-16px -10px 10px rgba(51, 51, 51, 0.1),
        inset 5.22516e-16px 10px 10px rgba(255, 255, 255, 0.1);
    }
  }
  //--------------------------
  // STEP
  .section-step1 {
    margin-bottom: 50px;

    @include media-min(800px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__input {
      @include media-min(800px) {
        flex-grow: 1;
        width: calc(100% - 174px);
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 2%;
      }
    }
    input {
      width: 100%;
    }
    input[type=date] {
      flex-direction: row-reverse;
      justify-content: flex-end;
      &::-webkit-calendar-picker-indicator {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    button {
      @include media-min(800px) {
        position: relative;
        top: 36px;
      }
    }
    .title-field {
      position: relative;

      input {
        z-index: 2;
      }
    }
    .title-suggestion-list {
      position: absolute;
      top: 99%;
      left: 0;
      width: 100%;
      background: #ffffff;
      border: 1px solid $light-grey;
      border-radius: 10px;
      padding: 10px 0;
      z-index: 1;
      max-height: calc(5 * 43px + 20px);
      overflow: auto;
      li {
        padding: 10px 20px;
        font-size: 17px;
        line-height: 140%;
        color: $dark-grey;
        background: white;
        &:hover {
          background: $light-grey;
        }
      }
    }
  }
  fieldset {
    @include media-max(800px) {
      margin-bottom: 30px;
    }
  }
  //--------------------------
  // CATEGORIES
  .categories-field {
    margin-bottom: 50px;
    &__grid {
      display: flex;
      flex-wrap: wrap;
    }
    label {
      position: relative;
      margin-right: 12px;
      margin-bottom: 10px;
      input {
        position: absolute;
        left: 20px;
        top: calc(50% - 14px);
        &:checked + div {
          border-color: $green;
        }
      }
      div {
        background: #ffffff;
        border: 2px solid $light-grey;
        border-radius: 10px;
        padding: 20px 20px 20px 56px;
        cursor: pointer;
        &:hover {
          border-color: $green;
        }
      }
    }
  }
  //--------------------------
  // IMAGES
  .image-field {
    @include media-min(800px) {
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 48% 48%;
      gap: 2%;
    }
    input {
      width: 100%;
    }
  }
  //--------------------------
  // OVERVIEW
  .overview-field {
    margin-bottom: 50px;
    textarea {
      width: 100%;
      max-width: 100%;
    }
  }
  //--------------------------
  // GRID
  .form__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    justify-items: center;
    gap: 5px;
  }
}
.previous-button {
  margin-right: 20px;
}
.previous-button,
.submit-button {
  margin-bottom: 20px;
}
