.main-home {
  h1 {
    margin-bottom: 40px;
  }
  .search-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    input {
      margin-right: 50px;
      margin-bottom: 15px;
      width: 400px;
      max-width: 100%;
    }
    label {
      color: $dark-grey;
      margin-right: 20px;
    }
    @include media-max($tablet-m) {
      margin-bottom: 80px;
      display: block;
      label {
        display: block;
      }
    }
    select {
      padding: 15px 20px;
      height: 56px;
      background: white;
      -webkit-appearance: none;
    }
  }
  h2 {
    margin-bottom: 30px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: $light-black;
    span {
      color: $dark-grey;
      &::before {
        content: "•";
        margin: 0 10px;
      }
    }
  }
  .card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 216px);
    justify-items: center;
    gap: 5px;
  }
}
