@font-face {
  font-family: "Monument Extended";
  src: local("Monument Extended"),
    url("../../font/MonumentExtended-Regular.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$backgound: #f0f4f3;
$green: #2e6b5c;
$light-black: #333333;
$dark-grey: #828282;
$light-grey: #e0e0e0;
:root {
  --toastify-text-color-light: #333333 !important;
  --toastify-color-success: #2e6b5c !important;
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-color-progress-success: var(--toastify-color-success);
}
.toast-success-container {
  border: 1px solid #2e6b5c !important;
}
.Toastify__progress-bar--success {
  background-color: #2e6b5c !important;
}
@mixin imgFit() {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@mixin overflowEllipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body {
  background-color: $backgound;
  color: $light-black;
  font-family: 'Poppins', sans-serif;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  @include media-min($desktop-xs) {
    padding: 60px 120px;
  }
  @include media-between($mobile-xl, $desktop-xs) {
    padding: 60px;
  }
  @include media-max($mobile-xl) {
    padding: 40px 20px;
  }
}

h1 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  // line-height: 140%;
  letter-spacing: 0.02em;
  color: $light-black;
  @include media-max($mobile-xl) {
    font-size: 32px;
  }
}
.hidden {
  display: none;
}
.error {
  color: red;
}
